body {
    background-color: #534bb4;
    color: white;
}

td {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 28px;
    width: 40px;
    text-align: center;
    text-shadow: 3px 3px black;
    border-radius: 5px;
}

h2 {
    color: white;
    font-family: 'Raleway',sans-serif;
    font-size: 32px; 
    font-weight: 800;
    line-height: 72px; 
    margin: 0 0 12px;
    text-shadow: 4px 4px darkblue;
}

.footerwrapper h1 {
    color:white;
    background-color:black;
}

.footerwrapper ul {
    background-color:dimgrey;
}   

.footerwrapper a {
    background-color:dimgrey;
}

.footerwrapper li {
    color:black;
    font-size:32px;
    font-family: 'Raleway', sans-serif;
    background-color:dimgrey;
}

.footerwrapper {
    background-color:dimgrey;
    width:100vw;
    position: relative;
}