body {
    background-color: #534bb4;
    color: white;
}

td {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 28px;
    width: 40px;
    text-align: center;
    text-shadow: 3px 3px black;
    border-radius: 5px;
}

h2 {
    color: white;
    font-family: 'Raleway',sans-serif;
    font-size: 32px; 
    font-weight: 800;
    line-height: 72px; 
    margin: 0 0 12px;
    text-shadow: 4px 4px darkblue;
}