body {
    background-color: #534bb4;
}

td {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 28px;
    width: 40px;
    text-align: center;
    text-shadow: 3px 3px black;
    border-radius: 5px;
}