body {
    background-color: #534bb4;
}

h1 {
    color: white;
    font-family: 'Raleway',sans-serif;
    font-size: 48px; 
    font-weight: 800;
    line-height: 72px; 
    margin: 0 0 24px;
    text-align: center;
    text-shadow: 4px 4px black;
}

h2 {
    color: white;
    font-family: 'Raleway',sans-serif;
    font-size: 32px; 
    font-weight: 800;
    line-height: 72px; 
    margin: 0 0 12px;
    text-shadow: 4px 4px darkblue;
}

h3 {
    color: lightgrey;
    font-family: 'Raleway',sans-serif;
    font-size: 24px; 
    font-weight: 800;
    text-shadow: 3px 3px darkblue;
}

h4 {
    color: lightgrey;
    font-family: 'Raleway',sans-serif;
    font-size: 18px; 
    font-weight: 800;
    text-shadow: 2px 2px darkblue;
}

label {
    color: white;
    font-family: 'Raleway',sans-serif;
    font-size: 32px; 
    font-weight: 800;
    line-height: 72px; 
    margin: 0 0 12px;
    text-shadow: 4px 4px darkblue;
}

button {
  background: darkcyan;
  border-radius: 999px;
  box-shadow: darkcyan 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin: 15px;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }

.wrapper-child {
    margin: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap:15px;
    row-gap:15px;
    padding: 10px;
  }

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color: #3b1757;
  }

.footerwrapper h1 {
    color:white;
    background-color:black;
}

.footerwrapper ul {
    background-color:dimgrey;
}   

.footerwrapper a {
    background-color:dimgrey;
}

.footerwrapper li {
    color:black;
    font-size:32px;
    font-family: 'Raleway', sans-serif;
    background-color:dimgrey;
}

.footerwrapper {
    background-color:dimgrey;
    width:100vw;
    position: relative;
}