body {
    background-color: #534bb4;
}

td {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 28px;
    width: 40px;
    text-align: center;
    text-shadow: 3px 3px black;
    border-radius: 5px;
}

h1 {
    color: white;
    font-family: 'Raleway',sans-serif;
    font-size: 48px; 
    font-weight: 800;
    line-height: 72px; 
    margin: 0 0 24px;
    text-align: center;
    text-shadow: 4px 4px black;
}

h2 {
    color: lightgrey;
    font-family: 'Raleway',sans-serif;
    font-size: 32px; 
    font-weight: 800;
    line-height: 72px; 
    margin: 0 0 12px;
    text-shadow: 4px 4px darkblue;
}

button {
  background: darkcyan;
  border-radius: 999px;
  box-shadow: darkcyan 0 10px 20px -10px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin: 15px;
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.grid-child {
    margin: 20px;
    padding: 10px;
}

.footerwrapper h1 {
    color:white;
    background-color:black;
}

.footerwrapper ul {
    background-color:dimgrey;
}   

.footerwrapper a {
    background-color:dimgrey;
}

.footerwrapper li {
    color:black;
    font-size:32px;
    font-family: 'Raleway', sans-serif;
    background-color:dimgrey;
}

.footerwrapper {
    background-color:dimgrey;
    width:100vw;
    position: relative;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #17091d;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width:75px;
    height:75px;
    border: 15px solid #ddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading .75s ease infinite;

}

@keyframes loading {
    from {transform: rotate(0turn);}
    to {transform: rotate(1turn);}
}