body {
    background-color: #534bb4;
}

td {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 28px;
    width: 40px;
    text-align: center;
    text-shadow: 3px 3px black;
    border-radius: 5px;
}

h1 {
    color: white;
    font-family: 'Raleway',sans-serif;
    font-size: 48px; 
    font-weight: 800;
    line-height: 72px; 
    margin: 0 0 24px;
    text-align: center;
    text-shadow: 4px 4px black;
}

h2 {
    color: white;
    font-family: 'Raleway',sans-serif;
    font-size: 32px; 
    font-weight: 800;
    line-height: 72px; 
    margin: 0 0 12px;
    text-shadow: 4px 4px darkblue;
}

button {
  background: darkcyan;
  border-radius: 999px;
  box-shadow: darkcyan 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin: 15px;
}

.footerwrapper h1 {
    color:white;
    background-color:black;
}

.footerwrapper ul {
    background-color:dimgrey;
}   

.footerwrapper a {
    background-color:dimgrey;
}

.footerwrapper li {
    color:black;
    font-size:32px;
    font-family: 'Raleway', sans-serif;
    background-color:dimgrey;
}

.footerwrapper {
    background-color:dimgrey;
    width:100vw;
    position: relative;
}