<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-wdidth, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <title>Flask Application</title>
</head>


<body>
    <a href="{{ url_for('index') }}"><img src="../static/images/Logo.png" style="width=100vw; border = 10px black;"
         alt="Website Banner"></a>
    <h2>Results from the game:</h2>
    
    <div class="grid-container">
        {% for g in range(0, results[3]) %} 
            <div class="grid-child">
                <table>
                    <tr>
                        <td>&emsp;</td>
                        {% for c in hiddenWords[g] %}
                            <td>{{c}}</td>
                        {% endfor %}
                        <td>&emsp;</td>
                    </tr>
        {% for i in range(0, numGuesses) %} <!-- i = guess/turn number -->
            <tr>
            <td>{{i + 1}}</td>
                        {% if i == 0 %}
                            {% for k in range(0, 5) %} <!-- k = letter index -->
                                {% if results[1][i][g][k] == "G" %}
                                    <td class="letter" style="background-color:green;">{{results[0][i][k]}}</td>
                                {% elif results[1][i][g][k] == "Y" %}
                                    <td class="letter" style="background-color:gold;">{{results[0][i][k]}}</td>
                                {% elif results[1][i][g][k] == "B" %}
                                    <td class="letter" style="background-color:black;">{{results[0][i][k]}}</td>
                                {% else %}
                                    <td>FAIL</td>
                                {% endif %}
                            {% endfor %}
                            <td>{{results[2][i][g]}}</td>
                            <td>&emsp;</td>
                        {% elif results[2][i-1][g] != 0 %}
                            {% for k in range(0, 5) %} <!-- k = letter index -->
                                {% if results[1][i][g][k] == "G" %}
                                    <td class="letter" style="background-color:green;">{{results[0][i][k]}}</td>
                                {% elif results[1][i][g][k] == "Y" %}
                                    <td class="letter" style="background-color:gold;">{{results[0][i][k]}}</td>
                                {% elif results[1][i][g][k] == "B" %}
                                    <td class="letter" style="background-color:black;">{{results[0][i][k]}}</td>
                                {% else %}
                                    <td>FAIL</td>
                                {% endif %}
                            {% endfor %}
                            <td>{{results[2][i][g]}}</td>
                            <td>&emsp;</td>
                        {% else %}
                            {% for k in range(0, 7) %}
                                <td>&emsp;</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endfor %}
                </table>
                </div>
            {% endfor %}
            
    </div>

    <div>
        <div class="footerwrapper">
            <h1>Website Created by Dallas Schauer</h1>
                <br>
                <ul style="list-style:none;">
                    <li><a href="https://github.com/DallasSchauer">💻 Github 💻</a></li>
                    <li><a href="https://medium.com/@schau364">⌨️ Medium ⌨️</a></li>
                    <li>🗃 schau364@umn.edu 🗃</li>
                    <li><a href="https://www.fiverr.com/share/D04LmA"> 🎨 Logo by Aurora Design 🎨 </a></li>
                </ul>
               <br><br><br><br><br><br>
            </div>
</body>

</html>