<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Flask Application</title>
</head>

<script>
    var answers = {{ ans|safe }};

    function singleGameMode() {
        document.getElementById("multiGame").style.display="none";
        document.getElementById("singleGame").style.display="block";
    }

    function multiGameMode() {
        document.getElementById("singleGame").style.display="none";
        document.getElementById("multiGame").style.display="block";
    }

    function randomizeSingle() {
        var words = document.getElementById("wordsInput");

        var newWords = [];
        var n = (Math.floor(Math.random() *  15 + 1));

        for (let i = 0; i < n; i++) {
            str = "";
            str += answers[Math.floor(Math.random() * 1000 + 1)];
            newWords += str;
        }

        words.value = newWords;
    }

    function randomizeMultiple() {
        var numWords = document.getElementById("numWordsInput");
        var numGames = document.getElementById("numGamesInput");
        var strategy = document.getElementById("strategyInput");


        numWords.value = (Math.floor(Math.random() * 15 + 1));
        numGames.value = (Math.floor(Math.random() * 499 + 1));
        strategy.value = (Math.floor(Math.random() * 5 + 1));
    }
</script>

<body>
    <div>
    <a href="{{ url_for('index') }}"><img src="../static/images/Logo.png" style="width:100vw; border = 10px black;"
        alt="Website Banner"></a>
    
    <h1 style="margin: 15px;">Choose mode:</h1>

    <button style="position:absolute; left:15%;" onclick="singleGameMode()">Single Game Mode</button>
    <button style="position:absolute; right:15%" onclick="multiGameMode()">Multi Game Mode</button>
    
    <br><br><br><br>

    <div style="display:none;" id="singleGame">
        <button class="random-button" onclick="randomizeSingle()">🎲 Randomize 🎲</button>
        <form action = "http://localhost:5000/pick" method = "post">
            <textarea id="wordsInput" name="words" rows="16" cols="20" 
            style="font-size:32px; padding:20px; margin:20px;"
            placeholder="Enter text here.."></textarea>
            <p><input type = "submit" value = "submit" class="submit-button"/></p>
        </form>
    </div>
        <br><br><br><br><br><br>

    <div style="display:none;" id="multiGame">
        <button class="random-button" onclick="randomizeMultiple()">🎲 Randomize 🎲</button>
        <form action = "http://localhost:5000/multigameSimulation" method = "post">
            <label for="numWordsInput">Number of words per game:</label>
            <input type="number" id="numWordsInput" name="numWords"
                min="1" max="16">
            <br>
            <label for="numGamesInput">Number of games:</label>
            <input type="number" id="numGamesInput" name="numGames"
                min="1" max="500">
            <br>
            <label for="strategyInput">Choose a strategy (descriptions below):</label>
            <select id="strategyInput" name="strategy">
                <option value="0"> --Select Strategy--</option>
                <option value="1">Random</option>
                <option value="2">Unique Words</option>
                <option value="3">Scrabble</option>
                <option value="4">Common Letters</option>
                <option value="5">Common Letter Spots</option>
                <option value="6">Static Starters -to-&gt; Entropy</option>
            </select>

            <br>
            <p><input type = "submit" value="submit" class="submit-button"/></p>
            <br>

            <div class="grid-container">
                <div class="grid-item"><h3 style="color:red;">BAD: Random</h3>
                    <h4>Picks guess from possible remaining answers randomly.</h4></div>
                <div class="grid-item"><h3 style="color:red;">BAD: Unique Words</h3>
                    <h4>Picks guess from possible remaining answers prioritizing
                        words with higher count of unique letters.</h4></div>
                <div class="grid-item"><h3 style="color:yellow;">MEDIUM: Scrabble</h3>
                    <h4>Picks guess from possible remaining answers prioritizing
                        words with lower Scrabble score.</h4></div>  
                <div class="grid-item"><h3 style="color:yellow;">MEDIUM: Common Letters</h3>
                    <h4>Picks guess from possible remaining answers prioritizing
                        words with more common letters.</h4></div>
                <div class="grid-item"><h3 style="color:green;">GOOD: Common Letter Spots</h3>
                    <h4>Picks guess from possible remaining answers prioritizing
                        words with more common letters in letterspots they are commonly found.</h4></div>
                <div class="grid-item"><h3 style="color:green;">GOOD: Static Starters -to-&gt; Entropy</h3>
                    <h4>Starts every game with guesses "RAISE, CLOUT, NYMPH." to narrow down remaining answers greatly. Then, picks guess from possible remaining answers prioritizing information gain, or, how useful
                        each word will be in narrowing down the remaining answers further.</h4></div>
            </div>
        </form>
    </div>
    </div>   
     
        <div class="footerwrapper">
        <h1>Website Created by Dallas Schauer</h1>
            <br>
            <ul style="list-style:none;">
                <li><a href="https://github.com/DallasSchauer">💻 Github 💻</a></li>
                <li><a href="https://medium.com/@schau364">⌨️ Medium ⌨️</a></li>
                <li>🗃 schau364@umn.edu 🗃</li>
                <li><a href="https://www.fiverr.com/share/D04LmA"> 🎨 Logo by Aurora Design 🎨 </a></li>
            </ul>
           <br><br><br><br><br><br>
        </div>
    
     
</body>

</html>