<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/multigame.css') }}">
    <title>Flask Application</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>



<body>
    <a href="{{ url_for('index') }}"><img src="../static/images/Logo.png" style="width=100vw; border = 10px black;"
        alt="Website Banner"></a>

    <h1>Results</h1>

    <h2>AVERAGE NUM OF GUESSES : {{gameResults[0]}}</h2>
    <h2>WIN PERCENTAGE : {{gameResults[1]}}</h2>
    <h2>WORST GAME : {{gameResults[2]}}</h2>
    <h2>BEST GAME : {{gameResults[3]}}</h2>
    
    <br>

    <canvas id="myChart" style="width:100%;max-width:600px;color:white;"></canvas>

    <script>
        var xValues = JSON.parse('{{ x | tojson }}');
        var yValues = JSON.parse('{{ y | tojson }}');
        var barColors = ["#34eb43", "#bce33b",
                        "#f5f236", "#e3c040",
                        "#f77f23", "#b8560b", "#ed5209"];
        var textColors = ["white"]
    
        Chart.defaults.global.defaultFontColor = "#fff";
    
        new Chart("myChart", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
            backgroundColor: barColors,
            data: yValues
            }]
        },
        options: {
            legend: {display: false},
            title: {
            display: true,
            text: "Results"
            }
        }
        });
    </script>

    <textarea rows="30" cols="100" 
    style="font-size:16px; padding:20px; margin:20px;">{{gameResults[5]}}</textarea>

    <div class="footerwrapper">
        <h1>Website Created by Dallas Schauer</h1>
            <br>
            <ul style="list-style:none;">
                <li><a href="https://github.com/DallasSchauer">💻 Github 💻</a></li>
                <li><a href="https://medium.com/@schau364">⌨️ Medium ⌨️</a></li>
                <li>🗃 schau364@umn.edu 🗃</li>
                <li><a href="https://www.fiverr.com/share/D04LmA"> 🎨 Logo by Aurora Design 🎨 </a></li>
            </ul>
           <br><br><br><br><br><br>
        </div>
</body>

</html>