<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-wdidth, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/multigame.css') }}">
    <title>Flask Application</title>
</head>
    
<body>
    <img src="../static/images/Logo.png" style="width=100vw; border = 10px black;" alt="Website Banner">

    <h1>Results</h1>

    <h2>{{gameResults}}</h2>


</body>

</html>